@import url("https://use.typekit.net/wdm5ogf.css");

@import '~normalize.css/normalize.css';
@import 'partials/_breakpoints.scss';
@import 'partials/_variables.scss';
@import 'partials/_accordion.scss';
@import 'partials/_slider.scss';
@import 'partials/_columns.scss';
@import 'partials/_buttons.scss';
@import 'partials/_forms.scss';
@import 'partials/_messages.scss';

@import "partials/_cart.scss";

$max-width: 1440px;
$min-width: 320px;

// Global Styles
*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,
html {
    font-family: $font;
    position: relative;
    text-align: center;
    -webkit-overflow-scrolling: touch;
    background-color: $off-black;
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

// Error pages
.text-error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 100%;
    padding: 0.5em;
}

.container {
    padding: 0 20px;
    max-width: $max-width;
    min-width: $min-width;
    margin: 0 auto;
    .row {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 auto;
        @include sm {
            display: block;
        }
    }
}

nav {
    &.breadcrumbs {
        text-align: left;
        margin-bottom: 20px;
        ul {
            display: inline-block;
            li {
                display: inline-block;
                &:not(:last-child)::after {
                    content: '>';
                    display: inline-block;
                }
            }
        }
    }
}

.pagination {
    display: block;
    margin: 0 auto 20px auto;
    li {
        display: inline-block;
        a, span {
            display: flex;
            height: 40px;
            width: 40px;
            border-radius: 5px;
            align-items: center;
            justify-content: center;
            border: 1px solid $off-black;
            font-weight: 600;
        }
        a {
            background: darken($off-white, 1%);
            text-decoration: none;
            color: $off-black;
        }
        span {
            border: 1px solid rgba($off-black, 0.2);
            color: rgba($off-black, 0.2);
        }
        &.active {
            span {
                background: $off-black;
                color: $white;
            }
        }
    }
}
body {
    color: $off-black;
    p {
        margin-bottom: 1.2em;
    }
    a {
        color: rgb(64, 117, 148);
    }
    & > header {
        background: $off-white;
        padding: 20px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        .row {
            align-items: center!important;
            @include md {
                flex-wrap: wrap!important;
            }
        }
        nav {
            ul {
                li {
                    list-style: none;
                    display: inline-block;
                    padding: 0 10px;
                    a {
                        text-decoration: none;
                        text-transform: uppercase;
                        color: $off-black;
                    }
                }
            }
            &.site {
                @include md {
                    width: 100%;
                    order: 3;
                    padding: 20px 0;
                }
            }
            &.user {
                @include md {
                    order: 2;
                }
                li {
                    padding: 0 2px;
                }
                a {
                    background: $off-black;
                    text-indent: -999em;
                    display: block;
                    height: 1.8rem;
                    width: 1.8rem;
                    mask-size: contain;
                    mask-position: center center;
                    mask-repeat: no-repeat;
                }
                li.login {
                    & > a {
                        mask-image: url('/img/login-icon.svg');
                    }
                }
                li.logout {
                    & > a {
                        mask-image: url('/img/logout-icon.svg');
                    }
                }
                li.account {
                    & > a {
                        mask-image: url('/img/your-account-icon.svg');
                    }
                }
                li.register {
                    & > a {
                        mask-image: url('/img/create-account-icon.svg');
                    }
                }
                li.checkout {
                    position: relative;
                    & > a {
                        mask-image: url('/img/basket-icon.svg');
                    }
                }
                .cart {
                    box-shadow: 5px 5px 5px rgba($off-black, 0.2);
                    .cart-items {
                        padding-top: 15px!important;
                        padding-bottom: 0!important;
                        .cart-item {
                            padding: 0 0;
                            .item-details {
                                flex: 1 1 auto;
                            }
                            .item-qty {
                                flex: 0 0 auto;
                            }
                            .item-price {
                                flex: 1 1 auto;
                                text-align: right;
                            }
                            .item-remove {
                                flex: 0 0 auto;
                                margin-right: -10px;
                                margin-left: 10px;
                            }
                        }
                    }
                    .totals {
                        font-weight: 600;
                        padding:  5px 10px 5px 5px;
                        border-top: 1px dotted $off-black;
                    }
                    a.button {
                        width: auto;
                        text-indent: 0;
                        color: $white;
                        text-decoration: none;
                        height: auto;
                        padding: 10px;
                        font-size: 0.75em;
                        margin:10px auto 0;
                    }
                }
            }
        }
    }
    & > main {
        min-height: 80vh;
        background: $off-white;
        padding-top: 140px;
        padding-bottom: 80px;
    }
    & > footer {
        background: $off-black;
        color: $off-white;
        padding: 20px;
        .row {
            align-items: center;
        }
        .logo {
            background: $off-white;
        }
        .copyright {
            font-size: 0.75em;
            margin: 0;
        }
    }
    .logo {
        background: $off-black;
        mask-image: url('/img/hgt-logo.svg');
        mask-size: contain;
        mask-position: left center;
        mask-repeat: no-repeat;
        text-indent: -999em;
        display: inline-block;
        width: 300px;
        @include sm {
            width: 60%;
        }
    }
}

main {
    &.account,
    &.checkout {
        & > .container > .row {
            justify-content: center;
            align-items: flex-start;
        }
        ul.sections {
            max-width: 980px;
            justify-content: center;
            padding-bottom: 20px;
            li {
                display: block;
                padding: 5px 10px;
                a {
                    display: block;
                    border: 1px solid $off-black;
                    border-radius: 5px;
                    width: 100%;
                    padding: 10px 20px;
                    text-decoration: none;
                    font-weight: 600;
                    color: $off-black;
                    background: darken($off-white, 1%);
                }
                &.current {
                    a {
                        background: $off-black;
                        color: $white;
                    }
                }
            }
        }
        form {
            border: 1px dotted $off-black;
            background: darken($off-white, 1%);
            border-radius: 5px;
            padding: 40px 40px;
            max-width: 600px;
            margin: 0 auto 40px;
            flex: 1 0 auto;
            header {
                padding: 20px 10px;
                align-items: center;
                fieldset {
                    flex: 0 1 auto;
                }
            }
            fieldset {
                padding: 0 10px;
                flex: 1 1 auto;
                &.buttons {
                    border-top: 1px dotted $off-black;
                    button, .button {
                        display: inline-block;
                    }
                }
            }
            hr {
                border: none;
                border-top: 1px dotted $off-black;
                margin: 40px auto 0;
                box-shadow: none;
            }
            &.submitting {
                button {
                    opacity: 0.5;
                }
            }
        }
        &.register {

        }
        &.address,
        &.cart {
            form {
                max-width: 980px;
                fieldset.buttons {
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 20px;
                    button, .button {
                        margin: 2em 0 0 20px;
                    }
                }
            }
        }
    }
    &.checkout {
        &.cart,
        &.complete,
        &.cancelled {
            .order-contents {
                max-width: 980px;
                border: 1px dotted $off-black;
                background: darken($off-white, 1%);
                border-radius: 5px;
                padding: 40px 40px;
                margin: 0 auto 40px;
                flex: 1 0 auto;
                header {
                    text-align: left;
                    padding: 20px;
                    margin-bottom: 20px;
                    h2 {
                        margin-bottom: 1em;
                    }
                    p {
                        font-weight: 500;
                    }
                }
                .addresses {
                    justify-content: flex-start;
                    .address {
                        text-align: left;
                        padding: 0 40px 0 20px;
                    }
                }
                fieldset.buttons {
                    display: flex;
                    justify-content: flex-end;
                    button, .button {
                        margin: 2em 0 0 20px;
                    }
                }
            }
            .totals {
                margin-top: 20px;
            }
            .cart-items {
                border-top: 1px dotted $off-black;
                & > li.cart-item {
                    padding: 20px 10px;
                    border-bottom: 1px dotted $off-black;
                    input {
                        margin: 0;
                    }
                    .item-image {
                        width: 40px;
                        height: 40px;
                        flex: 0 0 auto;
                    }
                    .item-details {
                        text-align: left;
                        justify-self: flex-start!important;
                        flex: 1 0 auto;
                        padding: 0 10px;
                        width: calc((100% - 200px) / 2);
                    }
                    .item-qty {
                        flex: 0 0 auto;
                        padding: 0 10px;
                        width: calc((100% - 200px) / 2);
                        input {
                            display: inline-block;
                            width: 8rem;
                        }
                    }
                    .item-price {
                        flex: 0 0 auto;
                        text-align: right;
                        max-width: 8rem;
                        padding: 0 10px;
                    }
                    .item-remove {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
            .totals {
                font-weight: 600;
                padding: 0 20px;
                .total {
                    margin-top: 10px;
                    &.order {
                        font-weight: 800;
                    }
                }
                span {
                    display: inline-block;
                    min-width: 8rem;
                }

            }
            .order-coupon {
                margin: 10px 0;
                float: right;
            }
        }
        &.email {
            & > .container > .row {
                justify-content: center;
                align-items: flex-start;
            }
            form {
                margin: 0 10px;
            }
        }
        &.shipping,
        &.payment {
            & > .container > .row {
                justify-content: center;
                align-items: flex-start;
            }
            form {
                margin: 0;
                fieldset {
                    &.shipping-methods {
                        padding: 20px;
                        label {
                            padding: 10px;
                            display: flex;
                            align-items: center;
                            input {
                                margin-right: 1em;
                            }
                            span {
                                font-weight: 600;
                                display: inline-block;
                                margin-left: 1em;
                            }
                        }
                    }
                    &.buttons {
                        display: flex;
                        justify-content: center;
                        button, .button {
                            margin: 2em 10px 0;
                        }
                    }
                }
                .payment-method {
                    border-top: 1px dotted $off-black;
                    margin-top: 20px;
                    padding-top: 20px;
                }
                #error_display {
                    color: $negative;
                }
                .message {
                    padding: 20px 10px;
                    text-align: left;
                    ul {
                        margin: 1em 2em;
                    }
                }
            }
        }
        .order-totals {
            border: 1px dotted $off-black;
            background: darken($off-white, 1%);
            border-radius: 5px;
            padding: 40px 40px;
            max-width: 330px;
            margin: 0 10px;
            flex: 1 0 auto;
            text-align: left;
            ul {
                margin: 1em 0;
                li {
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                    font-weight: 600;
                    padding: 0.5em 5px;
                    &.total {
                        border-top: 1px solid $off-black;
                        border-bottom: 1px solid $off-black;
                        font-weight: 700;
                    }
                }
            }
            .button {
                padding: 10px 20px;
            }
        }
        .order-coupon {
            max-width: 330px;
            margin: 10px;
            label {
                padding-top: 0;
            }
            input, button {
                padding: 10px;
            }
        }
        fieldset.inline {
            display: flex;
            flex-wrap: nowrap;
            align-content: center;
            input, button {
                display: inline-block;
                margin: 0;
                border-radius: 0;
                &:first-child {
                    border-radius: 5px 0 0 5px;
                }
                &:last-child {
                    border-radius: 0 5px 5px 0;
                }
            }
        }
    }
}

main {
    &.home,
    &.products {
        nav {
            & > .row {
                justify-content: flex-end;
            }
            .categories {
                display: flex;
                padding-bottom: 10px;
                @include sm {
                    width: 100%;
                }
                fieldset {
                    padding-right: 20px;
                    text-align: left;
                    @include sm {
                        flex-grow: 1;
                        padding: 0 5px 20px;
                    }
                    @include xs {
                        width: 100%;
                    }

                }
            }
        }
        ul.row {
            justify-content: flex-start;
            flex-wrap: wrap;
            align-items: stretch;
            margin-bottom: 20px;
            li.taxon,
            li.product {
                list-style: none;
                background: $white;
                border: 1px solid $off-black;
                border-radius: 5px;
                overflow: hidden;
                width: calc(20% - 20px);
                margin: 10px;
                flex: 0 0 auto;
                @include lg {
                    width: calc((100% / 3) - 20px);
                }
                @include md {
                    width: calc(50% - 20px);
                }
                @include sm {
                    width: calc(100% - 20px);
                    display: flex;
                    align-items: center;
                }
                a {
                    color: $off-black;
                    text-decoration: none;
                    &.image {
                        display: block;
                        width: 100%;
                        padding-top: 100%;
                        background-size: contain;
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-color: $off-black;
                        @include sm {
                            width: 40%;
                            padding-top: 40%;
                            border: 1px solid rgba($off-black, 0.2);
                        }
                    }
                }
                div {
                    text-align: left;
                    padding: 20px 20px;
                    .sold-out {
                        color: $negative;
                        font-weight: 500;
                        text-transform: uppercase;
                        margin-top: 10px;
                        display: inline-block;
                    }
                    @include sm {
                        width: 50%;
                    }
                    @include sm {
                        padding: 20px;
                    }
                    h4 {
                        font-size: 1.2rem;
                        @include xs {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
        &.single {
            .introduction {
                max-width: 980px;
                .row {
                    align-items: flex-start;
                    @include md {
                        display: block;
                    }
                }
                .images {
                    width: 50%;
                    padding: 20px;
                    border: 1px solid rgba($off-black, 0.2);
                    border-radius: 5px;
                    @include md {
                        width: 100%;
                    }
                    img {
                        width: 100%;
                    }
                }
                .details {
                    width: 50%;
                    padding: 20px;
                    text-align: left;
                    @include md {
                        width: 100%;
                        text-align: center;
                    }
                    #product-form,
                    #product-variant-form,
                    .product-sold-out {
                        border: 1px dotted $off-black;
                        background: darken($off-white, 1%);
                        border-radius: 5px;
                        padding: 40px 40px;
                        .price {
                            font-size: 1.4em;
                            font-weight: 600;
                        }
                        select {
                            margin-bottom: 10px;
                        }
                        input, button {
                            margin: 0;
                        }
                    }
                    .product-sold-out  {
                        text-align: center;
                        .sold-out {
                            color: $negative;
                            font-weight: 500;
                            text-transform: uppercase;
                            display: inline-block;
                        }
                    }
                    #product-variant-options {
                        margin-top: 10px;
                        border-collapse: collapse;
                        border-radius: 5px;
                        width: 100%;
                        td {
                            border: none;
                            padding: 10px;
                            background: rgba($off-black, 0.1);
                            font-weight: 500;
                        }
                    }
                    .content {
                        padding: 20px;
                        font-size: 1.2rem;
                        @include md {
                            width: 100%;
                            max-width: 640px;
                            margin: 0 auto;
                        }
                        p {
                            margin: 0 0 0.5em;
                            line-height: 1.4;
                        }
                    }
                }
            }
            .body {
                max-width: 980px;
                p {
                    line-height: 1.6;
                    margin-bottom: 1em;
                }
            }
        }
    }
}
main {
    .introduction {
        & > .row {
            align-items: flex-start;
            @include md {
                display: block;
            }
        }
        .content {
            max-width: 740px;
            margin: 0 auto;
            padding-left: 20px;
            p {
                margin-bottom: 1.2em;
            }
            ul {
                list-style-position: inside;
                margin: 1.2em 0;
                padding: 0 1em;
            }
            @include md {
                max-width: 100%;
            }
        }
        .images {
            width: 40%;
            padding: 20px;
            border: 1px solid rgba($off-black, 0.2);
            border-radius: 5px;
            @include md {
                width: 100%;
            }
            img {
                width: 100%;
            }
        }
    }
    &.home {
        .introduction {
            max-width: 740px!important;
            margin: 40px auto;
            text-align: center;
            .button {
                display: inline-block;
                margin: 40px auto;
            }
        }
        .taxonomy {
            padding-bottom: 40px;
            header {
                padding: 0 20px 20px;
                margin-bottom: 20px;
                border-bottom: 1px dotted $off-black;
                align-items: flex-end;
            }
        }
    }
    &.std-page {
        .introduction {
            & > .row {
                align-items: flex-start;
                @include md {
                    display: block;
                }
            }
            .content {
                max-width: 740px;
                margin: 0 auto;
                padding-left: 20px;
                text-align: left
                ;
                p {
                    margin-bottom: 1.2em;
                }
                ul {
                    list-style-position: inside;
                    margin: 1.2em 0;
                    padding: 0 1em;
                }
                @include md {
                    max-width: 100%;
                }
            }
            .images {
                width: 40%;
                padding: 20px;
                border: 1px solid rgba($off-black, 0.2);
                border-radius: 5px;
                @include md {
                    width: 100%;
                }
                img {
                    width: 100%;
                }
            }
        }
    }
    &.contact-form{
        form {
            text-align: left;
            max-width: 740px;
            margin: 0 auto;
        }
    }
}
