button, .button {
    display: block;
    background: $off-black;
    color: $white;
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1pt;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    &.small {
        padding: 10px 20px;
    }
}
