.message {
    padding: 0.75em 0;
    text-align: center;
    clear: both;

    p {
        margin: 0 auto;
    }

    &.negative {
        background: $negative;
        color: $white;
        text-align: center;
        margin-bottom: 10px;
        p {
            margin: 0;
        }
    }

    &.positive, &.success {
        background: $positive;
        color: $white;
    }
}

span.error {
    display: block;
    width: 100%;
    margin: 0.5em 1em 1em 1em;
    color: $negative;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
    font-size: 0.75em;
    &:empty {
        display: none;
    }
}

p.error {
    text-align: center;
    color: $negative;
}
